* {
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
   
}

body{


    color: #777;
    backface-visibility: visible;
    width: 960px;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

header{
    
    
    position: relative;
    height: 100px;
    margin: 5px 5% 0 5%;
    padding: 45px;
    text-align: center;
    background: #ebebeb;
    color: #777;
    width: 90%;
    
}
#nav{
    
    
    position: relative;
    height: 100px;
    margin: 5px 5%;
    padding: 45px;
    color: #777;
    background: #ebebeb;
    width: 90%;
    
}

.wrapper{

    height: 90%;
    padding: 20px;
    
}

#section{

    position: relative;
    float: left;
    width: 49%;
    height: 200px;
    margin: 5px 1% 5px 5%;
    padding: 20px;
    color: #777;
    background: #ebebeb;
}

#aside{
    
    position: relative;
    float: left;
    width: 39%;
    height: 200px;
    margin: 5px 5% 5px 1%;
    padding: 90px;
    color: #777;
    background: #ebebeb;
}



#article{

    height: 60%;
    position: absolute;
    top: 25%;
    width: 90%;
    margin: 5px;    
    padding: 10px;
    color: #ebebeb;
    background: #777;

}

/* <!-- Why is the font and color not changing! --> */

#h1,h2,h3{
    
    
    position: relative;
    top: 20px;
    height: 30px;
    width: 370px;
    font: bold;
    color: #777;
    background: #ebebeb;
    
}

/* <!-- Why is it left justifying! --> */

#p{

    position: relative;
    /* top: 70px; */
    height: 30px;
    width: 370px;
    color: #777;
    background: #ebebeb;
    left: 10px;
    
}

#footer{

    position: relative;
    height: 100px;
    width: 90%;
    margin: 5px 5%;
    padding: 45px;
    color: #777;
    text-align: center;
    clear: both;
    background: #ebebeb;

}